<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <main class="wrap">
      {{ content }}
      {% if page.print_button %}
      <div class="print-section">
        <button class="print-btn" onclick="window.print()">Print as PDF</button>
      </div>
      {% endif %}
    </main>
  </body>
</html>
